body {
    font-family: poppins, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    width: 970px;
    padding: 40px;
}

.container>a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.container>h2 {
    margin-top: 58px;
    font-size: 30px;
}

.container>div {
    display: flex;
}

.left-section {
    width: 55%;
    margin-right: 120px;
}

.right-section {
    width: 40%;
}

.item {
    display: flex;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.item-detail {
    display: flex;
    padding: 3px 0px 0px 13px;
    font-size: 13.7px;
    width: 100%;
}

.item-detail div {
    width: 70%;
}

.item-detail>span {
    width: 30%;
    text-align: right;
}

.item-detail>span>div {
    width: 100%;
    margin-bottom: 62px;
}

.quantity-control {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.quantity-control a {
    color: black;
    text-decoration: none;
    background-color: #f0f0f0;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.quantity-control span {
    margin: 0 15px;
    font-size: 14px;
}

.add-more-items {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    border: 1px solid black;
}

.add-more-items:hover {
    background-color: #eaeaea;
}

.left-section h3,
.right-section h3 {
    font-size: 14px;
    margin-bottom: 2px;
}

.pickup-info {
    margin: 20px 0px 20px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}


.pickup-info .pickup-details,
.pickup-info .time-details {
    display: flex;
    align-items: center;
    font-size: 13.7px;
    margin: 10px 0;
}

.pickup-info .pickup-details i,
.pickup-info .time-details i {
    margin-right: 10px;
    color: #444;
}

.coupon-input {
    width: 93%;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin: 0px 0px 20px 0px;
    font-size: 13.7px;
    outline: none;
}

.coupon-input:focus{
    border-color: gray;
}

.order-summary {
    font-size: 13.7px;
}

.order-summary .total-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-summary .total-line span:last-child {
    font-weight: bold;
}

.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.right-section>a {
    text-decoration: none;
}

.left-section>a {
    text-decoration: none;
    color: black;
}